################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SubsidyDemo/bin/Debug/net6.0
/SubsidyDemo/obj
/SubsidyDemo/Properties
